<p style="color: green"><%= notice %></p>
<section class="container__sm">
  <div class="show-title">
    <h1 style="margin: 1rem;padding-top: 16px;">Games</h1>
    <% if policy(:game).show? %>
      <%=link_to "New Game", new_game_path, class: "new-game-button"%>
    <% end%>
  </div>
  <div id="games">
    <% @games.each do |game| %>
      <%= link_to game_path(game) do %>
        <%= render game %>   
      <% end  %>
    <% end %>
  </div>
</section>