<section class="container__sm">

  <h1 class="heading--lg mb-4">Edit Company</h1>

  <%= render "form", company: @company %>

   <div class="flex center">
    <%= link_to "Back", companies_path, class: "overline" %>
  </div>
</section>