<p style="color: green"><%= notice %></p>
<section class="container__sm">
  <div class="show-title">
    <h1 class="heading--lg mb-4">Companies</h1>
    <% if policy(:game).show? %>
      <%=link_to "New Company", new_company_path, class: "button button--sm auto-fit"%>
    <% end %>
  </div>
  <div id="games">
    <% @companies.each do |company| %>
      <%= link_to company_path(company) do%>
        <%= render company %>   
      <% end %>
    <% end %>
  </div>
</section>

