*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image_game{
  border-radius: 8px;
  width: 328px;
  height: 160px;
}

.container{
  width: 80%vw;
  margin: 0 auto;
}

.flex-row{
  display: flex;
  justify-content: center;
  gap: 4px;
}

/* .flex-column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */



.btn{
  height: 100%;
}

.active{
  color: #303036;;  
  border-bottom: #c26786 solid 2px;
}

#contenido > div{
  display: none
}
#contenido > .active{
  display: block;
  transition: all 0.3s ease;
}

.item{
  width: 50%;
  padding: 4px 30px;
}



.align-center{
  text-align: center;
}

.primary-300{
  color: var(--primary-300);
}